* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
